@import "../../../styles.scss";

.container {
    display: flex;
    height: 100vh; /* Full viewport height */
  }
  
  .top-food-list, .active-friends {
    width: 20%; /* Left and right sections take 20% each */
    padding: 10px;
    background-color: #f0f0f0;
    overflow-y: auto; /* Allows scrolling for large lists */
  }
  
  .post-feed {
    width: 60%; /* Middle section takes 60% */
    padding: 10px;
    overflow-y: auto;
  }
  
  .top-food-list, .post-feed, .active-friends {
    box-sizing: border-box;
  }
  
  .post-feed {
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  